* {
    font-family: muli;
    scroll-behavior: smooth;
    background-color: black;
}

#ed5 {
    top: 120px; 
}

#ed4 {
    top: 180px; 
}
 
#ed3 {
    top: 240px;
}

#ed2 {
    top: 300px;
}

#ed1 {
    top: 360px;
}

#sidenav a{
    background-color: #e62b1e;
    list-style: none;
    position: fixed;
    left: -60px;
    transition: all 0.5s;
    padding: 14px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0;
    margin-top: 10%;
    align-items: left;
}

#sidenav a:hover {
    left: 0;
    opacity: 0.7;
    align-items: right;
}

.time {
    color: white;
    padding-top: 0px;
    margin-left: 80px;
}

.time h1 {
    color: #e62b1e;
    padding-top: 10px;
    margin-left: -80px;
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.time h2{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
}

.time p{
    font-size: 16px;
}

.event {
    display: inline-block;
    padding-bottom: 30px;
} 

.poster {
    float: left;
    width: 400px;
    padding-right: 20px;
}

.text {
    padding-top: 10px;
    padding-right: 20px;
}

.watch {
    font-size: 15px;
    padding-top: 20px;
    background-color: #e62b1e;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
}
.watch:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease-out;
}



@media screen and (max-width: 768px) {

    #sidenav a {
        position: fixed;
        left: 0;
        width: 18%;
        padding: 16px;
        background-color: #e62b1e;
        opacity: 0.7;
        transition: 0.3s;
        font-size: 16px;
    }

    .poster {
        width: 90%;
        padding-bottom: 20px;
    }
}